body {
    background-color: #000000;
}

h1 {
    text-align: center;
    line-height: 1;
    font-size: max(24px, min(6vw, 12vh));
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

p {
    text-align: center;
    line-height: 1;
    font-size: max(20px, min(3vw, 6vh));
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

a {
    color: #ac7873;
}

input {
    height: 100%;
    width: 100%;
    font-size: max(20px, min(3vw, 6vh));
    background-color: #ac7873;
}

.description {
    line-height: 1;
    font-size: max(16px, min(2vw, 4vh));
    margin: 2rem;
}

.container {
    text-align: center;
}

.brick {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max(300px, min(40vw, 60vh));
    /* padding: min(0.5vw, 1vh); */
}


.tiltLeft {
    transform: rotate(-4deg);
}

.tiltRight {
    transform: rotate(4deg);
}

.brickGpt {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 500ms;
}

.brickGpt input::placeholder {
    opacity: 0;
    transition: opacity 500ms;
}

.brickGpt:hover {
    width: 100%;
}

.brickGpt:hover input::placeholder {
    opacity: 1;
}

/* 
90vw or some amount vh (60) which would cause vw to be 90
if vw = 90, vh = 90 / width * height
vh = (90 / 1599) * 1066 = 60
*/